# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# local build outputs
/mobilelib/mobilelib

# Xcode user-specific state
/ios-native/**/*.xcuserdata/
/ios-native/**/*.xcuserstate
/ios-native/.build/
/ios-native/.swiftpm/

# generated native folders
/ios
/tmp

# generated icon assets
/assets/icon.png
/assets/favicon.png
/assets/splash-icon.png
/assets/android-icon-background.png
/assets/android-icon-foreground.png
/assets/android-icon-monochrome.png
/android/app/src/main/res/mipmap-*/ic_launcher.png
/android/app/src/main/res/mipmap-*/ic_launcher_round.png
/android/app/src/main/res/mipmap-*/ic_launcher_background.png
/android/app/src/main/res/mipmap-*/ic_launcher_foreground.png
/android/app/src/main/res/mipmap-*/ic_launcher_monochrome.png
/android/app/src/main/res/drawable-*/splashscreen_logo.png
